*{ font-family:'Noto Sans KR', 'Malgun Gothic', sans-serif;font-size:14px;color:#666;-webkit-overflow-scrolling: touch;letter-spacing:-1px;-webkit-transition:color .5s, background .5s;transition:color .5s, background .5s;}  
html,body,p, input, select, form, label, mark, ul, ul li, ol, ol li, dl, dl dt, dl dd, img, a, table, h1, h2, h3, h4, h5{margin:0;padding:0;}  
img{ border:0; }  
ul, ol{ list-style:none; }  
a{color:#555;text-decoration:none; }  
a:hover{text-decoration:none; }  
table{border:0;border-collapse:collapse;table-layout:fixed;}  
.HeadTitle03AX{  
	display:inline-block;  
	margin:0 1px;  
	height:35px;  
	line-height:35px;  
	padding:0 20px;  
	font-size:25px;  
	background:#d01c27;  
	color:#ffffff;  
	border-radius:5px;  
}  
.kapp_btn_bo02 {
	width:90px;
	height:33px;
	display:inline-block;
	line-height:33px;
	text-align:center;
	color:#fff;
	font-size:14px;
	background:#d01d27;
	margin-right: 10px;
}

.btn_bo02T{width:64px;height:33px;display:inline-block;line-height:33px;text-align:center;color:#fff;font-size:14px;background:#d01d27; margin-right: 10px;text-decoration: none;}  
.btn_bo03T{width:84px;height:33px;display:inline-block;line-height:33px;text-align:center;color:#fff;font-size:14px;background:#d01d27; margin-right: 10px;text-decoration: none;}  
.viewHeaderT{width:100%;height:auto;overflow:hidden;position:relative;text-align:left;}  
.viewHeaderT span{left:0;top:12px;font-size:14px;color:#686868;}  
.boardViewT{width:1168px;height:auto;overflow:hidden;margin:0 auto 50px auto;}  
.boardViewX{width:99%;height:auto;overflow:hidden;margin:0 auto 50px auto;}  

.listTableT{width:100%px;text-decoration: none;}  
.listTableT th{word-break:break-all;height:42px;border-top:3px solid #d01c27;font-size:14px;color:#69604f;font-weight:normal;background:#fafafa;border-bottom:1px solid #dedede;}  
.listTableT td{word-break:break-all;height:30px;border-bottom:1px solid #dedede;font-size:14px;color:#69604f;font-weight:normal;}  
.listTableT td a span{font-size:14px;color:#69604f;}  
.listTableT td a .t01{font-size:14px;color:#d01c27;}  
.listTableT span{font-size:18px;color:#171512; vertical-align:baseline; }  
.listTableT .cell01{width:60px;text-align:center;text-decoration: none;}  
.listTableT .cell03{font-size:18px;text-align:center;text-decoration: none;font-weight:bold;}  
.listTableT .cell03X{}  
.listTableT .cell05{width:70px;text-align:center;}  
.listTableT .cell02{width:80px;text-align:center;}  
.listTableT .cell04{width:200px;text-align:center;}  
.listTableT .cell06{width:50px;text-align:center;}  
.paging{margin:20px auto 0 auto;width:100%;height:auto;overflow:hidden;text-align:center;}  
.paging a, .paging span, .paging img{display:inline-block;vertical-align:middle;}  
.paging a{color:#979288;font-size:18px;font-weight:bold;}  
.paging span{color:#979288;font-size:18px;font-weight:bold;}  
.paging a:hover{opacity:1;color:#d01c27;}  
.paging a.on{font-weight:bold;color:#d01c27;}  
.paging a.prev{margin-right:20px;}  
.paging a.next{margin-left:20px;}  
